/* 



.cardlogin {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    max-width: 4000px; 
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #009688; 
    border-color: #00796b; 
}

.btn-primary:hover {
    background-color: #00796b; 
    border-color: #004d40; 
}

.text-danger {
    font-size: 0.875rem;
}

a {
    color: #009688;
}

a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 1rem;
}

input[type="email"],
input[type="password"] {
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #009688;
    outline: none;
} */
